<!DOCTYPE html>
<html>
<body>

<h1>{{title}}</h1>

<p>24hr time, eg:<br>11:35am = 11:35<br>11:35pm = 23:35</p><br><br>

<form method="POST" autocomplete="off">
  <label for="lname">Mon:</label><input type="text" id="mon" name="mon" value={{editTime.mon}}><br><br>
  <label for="lname">Tue:</label><input type="text" id="tue" name="tue" value={{editTime.tue}}><br><br>
  <label for="lname">Wed:</label><input type="text" id="wed" name="wed" value={{editTime.wed}}><br><br>
  <label for="lname">Thu:</label><input type="text" id="thu" name="thu" value={{editTime.thu}}><br><br>
  <label for="lname">Fri:</label><input type="text" id="fri" name="fri" value={{editTime.fri}}><br><br>
  <label for="lname">Sat:</label><input type="text" id="sat" name="sat" value={{editTime.sat}}><br><br>
  <label for="lname">Sun:</label><input type="text" id="sun" name="sun" value={{editTime.sun}}><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>